.content {
  font-size 30px
}

//.search-box .suggestion a .suggestion-row .suggestion-content .highlight{
//  color: red;
//}

// 搜索结果样式
.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #646cff
  font-weight: bold
}
